body {
	margin: 0;
	padding: 0;
}

.container {
	background-color: #16536D;
	display: grid;
	grid-template-columns: 6vw 13.5vw 13.5vw 2vw 29.5vw 29.5vw 6vw;
	grid-template-rows: auto;
	padding-top: 2vw;
}

#profileInfo {
	grid-column-start: 2; 
	grid-column-end: 4;
	background-color: #78FFD6;
	padding: 2vw;
	border-radius: 1vw;
}

#profileExperience {
	grid-column-start: 5; 
	grid-column-end: 7;
	background-color: #78FFD6;
	padding: 2vw;
	border-radius: 1vw;
}

#profilePicture {
	width: 23vw;
	height: 23vw;
	border-radius: 50%;
	overflow: hidden;
}

#profilePicture img{
	height: 100%;
	width: auto;
	margin-left: -8%;
}

footer {
	grid-column-start: 2; 
	grid-column-end: 7;
	background-color: black;
	display: flex;
	justify-content: center;
	margin-top: 2vw;
	border-radius: 1vw;
}

h1 {
	font-family: 'Bree Serif', serif;
	font-size: 4.5vw;
	margin: 0;
	padding-top: 1vw;
	text-align: center;
	color: white;
	letter-spacing: 0.25vw;
	line-height: 4.5vw;
}

h2 {
	font-family: 'Bree Serif', serif;
	margin: 0;
	font-size: 2.5vw;
	text-align: right;
	padding-top: 1vw;
	line-height: 3vw;
}

h3 {
	font-family: 'Bree Serif', serif;
	text-align: left;
	font-size: 3vw;
	margin: 0;
	padding-top: 2vw;
	color: white;
	letter-spacing: 0.2vw;
	line-height: 3vw;
}

h4 {
	font-family: 'Yantramanav', sans-serif;
	margin: 0;
	color: #16536D;
	font-size: 1.9vw;
}

p {
	font-family: 'Yantramanav', sans-serif;
	margin: 0;
	font-size: 1.4vw;
}

li {
	font-family: 'Yantramanav', sans-serif;
	margin: 0;
}

#description {
	padding-top: 1vw;
	text-align: justify;
	letter-spacing: 0.1vw;
}

.contactBox {
	padding-top: 1vw;
}

.infos {
	text-align: right;
}

.interest {
	display: flex;
	text-align: center;
	margin-top: 2vw;
}

.interest img {
	padding: 1vw;
	width: 5vw;
	height: auto;
}

.columns {
	display: flex;
}

.textBox {
	padding-top: 1vw;
}

.text1 {
	color: #16536D;
	font-size: 1.6vw;
}

.text2 {
	color: white;
	font-size: 1.5vw;
}

.text3 {
	font-size: 1.3vw;
}

.text4 {
	font-size: 1.3vw;
}

.leftColumn {
	padding-right: 5vw;
}
















