* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Serif', serif;
}

body {
	background: linear-gradient(to right, rgba(201,201,201,1) 0%, rgba(246,246,246,1) 50%, rgba(201,201,201,1) 100%);
}

/* FIRST PART - HEADER */
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1.2rem;
}

h1 {
	color: #28231D;
	font-size: 1.2rem;
	font-weight: 600;
}

h2 {
	color: #28231D;
	font-size: 1rem;
	font-weight: 300;
}


.typewriter h1 {
	overflow: hidden;
	white-space: nowrap;
	animation: 
		typing 3s steps(30, end),
		blink-caret .8s step-end 7; 
	animation-fill-mode: forwards;
}

.typewriter h2 {
	overflow: hidden;
	white-space: nowrap;
	animation: 
		typing 2.5s 6s steps(28, end),
		blink-caret .8s step-end 15;
	animation-fill-mode: forwards;
	opacity: 0;
}

@keyframes typing {
	from {width: 0} to {width: 100%}
	0% {opacity: 1} 100% {opacity: 1}
}

@keyframes blink-caret {
	from, to {border-right: .15rem solid #00B6B2} 
	50% {border-color: transparent}
	100% {border-right: none}
}

header span {
	text-decoration: line-through;
}

/* SECOND PART - CONTENT */

.content {
	display: flex;
	width: 100%;
	justify-content: space-around;
}


.profile-picture {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-picture img {
	height: auto;
	max-width: 20rem;
}

#hair {
	position: relative;
	right: .9rem;
	z-index: 5;
	transform: rotate(-15deg);
	transition-duration: 1s;
}

#hair:hover {
	transform: rotate(0deg) translateX(.9rem) translateY(1.2rem);
	transform-origin: 10% 30%;
}

#eyes {
	position: relative;
	top: -3.5rem;
	z-index: 4;
}

#nose {
	position: relative;
	top: -8rem;
	z-index: 3;
	transform: rotate(-5deg);
	transition-duration: 1s;
}

#nose:hover {
	transform: rotate(0deg) translateX(-.1rem) translateY(-1rem);
	transform-origin: 10% 30%;
}

#mouth {
	position: relative;
	top: -12.1rem;
	z-index: 2;
	transform: rotate(7deg);
	transition-duration: 1s;
}

#mouth:hover {
	transform: rotate(-5deg) translateX(.4rem) translateY(-.9rem);
	transform-origin: 10% 30%;
}

#shadow {
	position: relative;
	top: -15rem;
	z-index: 1;
}

/* LAST PART - FOOTER */